.section-about{
    background-color: $color-grey-light;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab) {
        padding: 20rem 0;
    }
}

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,.8), rgba($color-primary-medium,.8), rgba($color-primary-dark,.8)), url('../imgs/uni3.jpg');
    background-size: cover;
    background-position: center;    
    margin-top: -10rem;
    transform: skewY(-7deg);

    & > *{
        transform: skewY(7deg);
    }

    @include respond(tab) {
        padding: 10rem 0;
    }
}

.section-tours{
    background-color: $color-grey-light;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    @include respond(tab) {
       padding: 20rem 0 10rem 0;
    }
}

.section-stories{
    padding: 10rem 0;
    position: relative;
    // box-sizing: border-box;
    // border: 1px solid red;
}

.section-book{
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-green-light, $color-green-dark);

    @include respond(tab) {
        padding: 10rem 0;
    }
}

.book{
    background-image: linear-gradient(105deg,rgba(white,.9) 0%,rgba(white,.9) 50%, transparent 50%), url('../../imgs/formbg.jpg');
    background-size: cover;
    background-position: bottom;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(black, .3);

    @include respond(tab-landscape) {
        background-image: linear-gradient(105deg,rgba(white,.9) 0%,rgba(white,.9) 65%, transparent 65%), url('../../imgs/formbg.jpg');
    }

    @include respond(tab) {
        background-image: linear-gradient(to right,rgba(white,.9) 0%,rgba(white,.9) 100%), url('../../imgs/formbg.jpg');
    }

    &__form{
        width: 50%;
        padding: 6rem;

        @include respond(tab-landscape) {
            width: 65%;
        }

        @include respond(tab) {
            width: 100%;
        }
    }
}